USE [master]
GO
/****** Object:  Database [SuperMarketDB]    Script Date: 14/02/2026 2:33:08 PM ******/
CREATE DATABASE [SuperMarketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperMarketDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuperMarketDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuperMarketDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuperMarketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperMarketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperMarketDB]
GO
/****** Object:  UserDefinedFunction [dbo].[GetTotalSales]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetTotalSales]()
RETURNS FLOAT

AS
BEGIN
       Declare @Total FLOAT
       SELECT @Total = SUM(Amount) FROM Sales

	   RETURN @Total 
END
GO
/****** Object:  UserDefinedFunction [dbo].[SF_IsBarCodeExists]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[SF_IsBarCodeExists](@BarCode NVARCHAR(50))
 RETURNS BIT

 AS
 BEGIN
      IF EXISTS(SELECT * FROM Products WHERE BarCode = @BarCode)
	     BEGIN
		      RETURN 1;
		 END
	RETURN 0;
END
GO
/****** Object:  UserDefinedFunction [dbo].[SF_IsProductExistsInCart]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SF_IsProductExistsInCart]( @productID INT)
RETURNS BIT

AS
BEGIN

	  IF EXISTS(SELECT found=1 FROM Cart WHERE ProductID = @productID)
	   BEGIN
	     RETURN 1;
	   END
	
	RETURN 0;
END
	  
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[SaleDetailID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_SaleDetails] PRIMARY KEY CLUSTERED 
(
	[SaleDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[BarCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](90) NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SaleDetails_View]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SaleDetails_View]
AS
SELECT dbo.SaleDetails.SaleDetailID, dbo.Products.Name, dbo.SaleDetails.Quantity, dbo.Products.Price, dbo.SaleDetails.SaleID
FROM   dbo.SaleDetails INNER JOIN
             dbo.Products ON dbo.SaleDetails.ProductID = dbo.Products.ProductID
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [decimal](18, 0) NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[PurchaseID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PricePerUnit] [money] NOT NULL,
	[Total] [money] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[PurchaseDate] [date] NULL,
	[StokedIn] [bit] NULL,
	[ExpDate] [date] NULL,
 CONSTRAINT [PK_Purchases] PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Purchases_View]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Purchases_View]
AS
SELECT dbo.Purchases.PurchaseID, dbo.Products.Name, dbo.Purchases.PricePerUnit, dbo.Purchases.Quantity, dbo.Purchases.Total, dbo.Suppliers.Name AS Expr1, dbo.Purchases.PurchaseDate, dbo.Purchases.ExpDate
FROM   dbo.Purchases INNER JOIN
             dbo.Products ON dbo.Purchases.ProductID = dbo.Products.ProductID INNER JOIN
             dbo.Suppliers ON dbo.Purchases.SupplierID = dbo.Suppliers.SupplierID
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[QuantityAvailable] [int] NULL,
	[ExpDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SearchProductsView]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SearchProductsView]
AS
SELECT ProductID,BarCode,Name,Price,QuantityAvailable FROM
(
  SELECT p.ProductID, p.BarCode,p.Name,p.Price,s.QuantityAvailable,ROW_NUMBER() OVER(PARTITION BY p.ProductID ORDER BY
  s.ExpDate ASC) as rn
  FROM   dbo.Products p INNER JOIN
             dbo.Stock s ON p.ProductID = s.ProductID
WHERE (DATEADD(day, - 3, s.ExpDate) > GETDATE()) AND (s.QuantityAvailable > 0)
)t
WHERE rn = 1;
GO
/****** Object:  UserDefinedFunction [dbo].[GetProductsListForSearch]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetProductsListForSearch] ()

RETURNS TABLE
AS
RETURN 
(
  SELECT ProductID,BarCode,Name,Price,QuantityAvailable FROM
(
  SELECT p.ProductID, p.BarCode,p.Name,p.Price,s.QuantityAvailable,ROW_NUMBER() OVER(PARTITION BY p.ProductID ORDER BY
  s.ExpDate ASC) as rn
  FROM   dbo.Products p INNER JOIN
             dbo.Stock s ON p.ProductID = s.ProductID
WHERE (DATEADD(day, - 3, s.ExpDate) > GETDATE()) AND (s.QuantityAvailable > 0)
)t
WHERE rn = 1
)
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[No] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Total] [money] NULL,
 CONSTRAINT [PK__Cart__3214D4A80160910E] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetProductQuantityInCart]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetProductQuantityInCart] (@productID INT)

RETURNS TABLE
AS
RETURN
(
   SELECT Quantity FROM Cart 
   WHERE ProductID = @productID
)
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [money] NOT NULL,
	[UserID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[NO] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [BarCode], [Name], [Price]) VALUES (1, N'8715600908123', N'Coca-Cola Original 1L', 1.2000)
INSERT [dbo].[Products] ([ProductID], [BarCode], [Name], [Price]) VALUES (2, N'5449000131805', N'Coca-Cola Zero Sugar 1L', 1.1000)
INSERT [dbo].[Products] ([ProductID], [BarCode], [Name], [Price]) VALUES (3, N'4324353562827', N'Pepsi 1.25L', 1.1000)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchases] ON 

INSERT [dbo].[Purchases] ([PurchaseID], [ProductID], [Quantity], [PricePerUnit], [Total], [SupplierID], [PurchaseDate], [StokedIn], [ExpDate]) VALUES (102, 9, 1000, 2.0000, 2000.0000, 5, CAST(N'2026-01-02' AS Date), 1, CAST(N'2026-01-30' AS Date))
INSERT [dbo].[Purchases] ([PurchaseID], [ProductID], [Quantity], [PricePerUnit], [Total], [SupplierID], [PurchaseDate], [StokedIn], [ExpDate]) VALUES (103, 13, 1200, 2.0000, 2400.0000, 4, CAST(N'2026-01-02' AS Date), 1, CAST(N'2026-01-26' AS Date))
INSERT [dbo].[Purchases] ([PurchaseID], [ProductID], [Quantity], [PricePerUnit], [Total], [SupplierID], [PurchaseDate], [StokedIn], [ExpDate]) VALUES (104, 30, 18000, 3.2000, 57600.0000, 3, CAST(N'2026-01-02' AS Date), 1, CAST(N'2028-08-18' AS Date))
SET IDENTITY_INSERT [dbo].[Purchases] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleDetails] ON 

INSERT [dbo].[SaleDetails] ([SaleDetailID], [SaleID], [ProductID], [Quantity]) VALUES (8, 15, 5, 200)
INSERT [dbo].[SaleDetails] ([SaleDetailID], [SaleID], [ProductID], [Quantity]) VALUES (9, 15, 8, 50)
INSERT [dbo].[SaleDetails] ([SaleDetailID], [SaleID], [ProductID], [Quantity]) VALUES (10, 15, 11, 205)
SET IDENTITY_INSERT [dbo].[SaleDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [Amount], [UserID], [Date]) VALUES (15, 947.0000, 2, CAST(N'2025-12-19T20:46:06.097' AS DateTime))
INSERT [dbo].[Sales] ([SaleID], [Amount], [UserID], [Date]) VALUES (16, 277.5000, 2, CAST(N'2025-12-19T20:49:26.370' AS DateTime))
INSERT [dbo].[Sales] ([SaleID], [Amount], [UserID], [Date]) VALUES (17, 525.2000, 2, CAST(N'2025-12-20T18:04:40.823' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([StockID], [ProductID], [QuantityAvailable], [ExpDate]) VALUES (1, 1, 74, CAST(N'2026-02-14' AS Date))
INSERT [dbo].[Stock] ([StockID], [ProductID], [QuantityAvailable], [ExpDate]) VALUES (7, 7, 105, CAST(N'2026-04-02' AS Date))
INSERT [dbo].[Stock] ([StockID], [ProductID], [QuantityAvailable], [ExpDate]) VALUES (8, 8, 6, CAST(N'2026-01-29' AS Date))
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [Name], [Phone], [Email]) VALUES (1, N'John Brown', CAST(545037495 AS Decimal(18, 0)), N'JohnBrown234@gmail.com')
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [Phone], [Email]) VALUES (2, N'Julia Spirit', CAST(925374529 AS Decimal(18, 0)), N'JuliaSpirit09@gmail.com')
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [Phone], [Email]) VALUES (3, N'Spencer Jacobs', CAST(836453892 AS Decimal(18, 0)), N'Spncer999@gmail.com')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password]) VALUES (1, N'Admin', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4')
INSERT [dbo].[Users] ([UserID], [UserName], [Password]) VALUES (2, N'Cashier', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Products]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Suppliers]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Products] FOREIGN KEY([SaleDetailID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Products]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Users]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK__Stock__ProductID__76969D2E] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK__Stock__ProductID__76969D2E]
GO
/****** Object:  StoredProcedure [dbo].[DeleteExpiredProducts]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExpiredProducts]
AS
BEGIN
   SET NOCOUNT ON;
   DELETE FROM Stock
   WHERE ExpDate <= CAST(GETDATE() AS date);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddProductToCart]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[SP_AddProductToCart]
            @ProductID INT,
			@Quantity INT,
			@Total Money,
			@No INT OUTPUT
AS
BEGIN
    INSERT INTO Cart 
	VALUES
	(@ProductID,@Quantity,@Total);

	SET @No = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddProductToProducts]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddProductToProducts]
        @Name NVARCHAR(90),
		@BarCode NVARCHAR(50),
		@Price MONEY
AS
BEGIN
      INSERT INTO Products
	  VALUES
	  (@BarCode,@Name,@Price);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPurchase]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddPurchase]
     @ProductID INT,
	 @Quantity INT,
	 @PricePerUnit MONEY,
	 @Total MONEY,
	 @SupplierID INT,
	 @PurchaseDate DATE,
	 @StokedIn BIT,
	 @ExpDate DATE
AS
BEGIN
    INSERT INTO Purchases
	VALUES
	(@ProductID,@Quantity,@PricePerUnit,@Total,@SupplierID,@PurchaseDate,@StokedIn,@ExpDate)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddSale]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddSale]
		  @Amount FLOAT,
		  @UserID INT,
		  @Date DATETime,
		  @SaleID INT OUTPUT
AS
BEGIN
     INSERT INTO Sales
	 VALUES
	 (@Amount,@UserID,@Date)

	 SET @SaleID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddSaleDetails]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddSaleDetails]
        @SaleID INT,
		@ProductID INT,
		@Quantity INT
AS
BEGIN
   INSERT INTO SaleDetails
   VALUES
   (@SaleID,@ProductID,@Quantity)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddStock]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddStock]
    @ProductID INT,
	@Quantity INT,
	@ExpDate DATE
AS
BEGIN
     INSERT INTO Stock
	 VALUES
	 (@ProductID,@Quantity,@ExpDate);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddSupplier]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddSupplier]
     @Name NVARCHAR(50),
	 @Phone DECIMAL,
	 @Email NVARCHAR(50),
	 @SupplierID INT OUTPUT
AS
BEGIN
     INSERT INTO Suppliers
	 VALUES
	 (@Name,@Phone,@Email)

	 SET @SupplierID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CalculateTotalCartProducts]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CalculateTotalCartProducts]
     @Total MONEY OUTPUT
AS
BEGIN
     SELECT @Total = Sum(Total) FROM Cart
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ClearCart]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ClearCart]
        @AffectedRows INT OUTPUT
AS
BEGIN
    DELETE Cart
	SET @AffectedRows = @@ROWCOUNT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteProductFromCart]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteProductFromCart]
          @ProductID INT,
		  @RowsAffected INT OUTPUT

AS
BEGIN
     DELETE Cart WHERE ProductID = @ProductID
	 SET @RowsAffected = @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FilterSalesWithDate]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FilterSalesWithDate]
        @Option INT
AS
BEGIN

   IF @Option = 0
      BEGIN
          SELECT * FROM Sales
	  END

   IF @Option = 1
      BEGIN
          SELECT * FROM Sales
          WHERE CAST(Sales.Date AS DATE) = CAST(GETDATE() AS DATE);
	  END
   IF @Option = 3
      BEGIN
          SELECT * FROM Sales
          WHERE YEAR(Sales.Date) = YEAR(GETDATE());
	 END
   IF @Option = 2
      BEGIN
         SELECT * FROM Sales
         WHERE CAST(Sales.Date AS DATE) >=  DATEADD(DAY, -7, GETDATE());
	  END 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FindProduct]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FindProduct]
       @ProductID INT

AS
BEGIN
    SELECT * FROM Products WHERE ProductID = @ProductID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FindProductByName]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FindProductByName]
     @Name NVARCHAR(90)

AS
BEGIN
     SELECT * FROM Products WHERE Name = @Name
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FindSupplier]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FindSupplier]
       @SupplierID INT
	  
AS
BEGIN
    SELECT * FROM Suppliers WHERE SupplierID = @SupplierID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FindSupplierByName]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FindSupplierByName]
     @Name NVARCHAR(50)

AS
BEGIN
     SELECT * FROM Suppliers WHERE Name = @Name
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCartList]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_GetCartList]
 AS
 BEGIN
     SELECT M.No,M.ProductID,M.Quantity,M.Total , K.Name FROM Products K INNER JOIN Cart M ON K.ProductID = M.ProductID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProductsAdmin]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProductsAdmin]
  
AS
BEGIN

SELECT * FROM Products;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProductsListForSearch]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProductsListForSearch]

AS
BEGIN
    SELECT * FROM SearchProductsView;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSaleDetails]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetSaleDetails]
     @SaleID INT

AS
BEGIN
      SELECT * FROM SaleDetails_View WHERE SaleID = @SaleID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSales]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetSales]
AS
BEGIN

  SELECT * FROM Sales;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSuppliers]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetSuppliers]

AS
BEGIN
    SELECT * FROM Suppliers;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByUserNameAndPassword]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserByUserNameAndPassword]
    @Username NVARCHAR(MAX),
	@Password NVARCHAR(MAX),
	@UserID INT OUTPUT

AS
BEGIN
     SELECT @UserID = UserID FROM Users WHERE UserName = @Username AND Password = @Password
	 --RETURN @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPasswordCorrect]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsPasswordCorrect]
        @UserID INT,
		@HashedPassword NVARCHAR(MAX)
AS
BEGIN
    IF EXISTS(SELECT * FROM Users WHERE UserID = @UserID AND Password = @HashedPassword)
	  BEGIN
	      SELECT 1;
	  END
	ELSE
	  BEGIN
	      SELECT 0;
	  END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PurchasesList]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PurchasesList]
    
AS
BEGIN
    SELECT * FROM Purchases_View;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PurchasesToStockIn]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PurchasesToStockIn]
    
AS
BEGIN
    SELECT dbo.Purchases.PurchaseID,dbo.Products.Name, dbo.Purchases.PricePerUnit, dbo.Purchases.Quantity, dbo.Purchases.Total, dbo.Suppliers.Name AS Expr1,
	dbo.Purchases.PurchaseDate , dbo.Purchases.ExpDate
FROM   dbo.Purchases INNER JOIN
             dbo.Products ON dbo.Purchases.ProductID = dbo.Products.ProductID INNER JOIN
             dbo.Suppliers ON dbo.Purchases.SupplierID = dbo.Suppliers.SupplierID
			 WHERE dbo.Purchases.StokedIn = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveProduct]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_RemoveProduct]
     @ProductID INT

AS
BEGIN
   DELETE Products WHERE ProductID = @ProductID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveSupplier]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_RemoveSupplier]
      @SupplierID INT,
	  @RowsAffected INT OUTPUT
AS
BEGIN
     DELETE Suppliers WHERE SupplierID = @SupplierID;

	 SET @RowsAffected = @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_StockIn]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_StockIn]
       @ProductID INT,
	   @Quantity INT,
	   @ExpDate DATE
AS
BEGIN
        INSERT INTO Stock
	      VALUES
	      (@ProductID,@Quantity,@ExpDate)
END	 
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProductInCart]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateProductInCart]
            @TypeOfOperation NVARCHAR(10),
            @ProductID INT,
			@Quantity INT,
			@Total Money,
			@No INT OUTPUT
AS
BEGIN
  IF @TypeOfOperation = 'ADD'
    BEGIN
      UPDATE Cart 
	  SET Quantity += @Quantity , Total += @Total
	  WHERE ProductID = @ProductID;
    END

  ELSE IF @TypeOfOperation = 'REMOVE'
    BEGIN
      UPDATE Cart 
	  SET Quantity -= @Quantity , Total -= @Total
	  WHERE ProductID = @ProductID;
    END

	SET @No = @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProductInfos]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateProductInfos]
        @ProductID INT,
		@BarCode DECIMAl,
		@Price Money

AS
BEGIN
      UPDATE Products
	  SET BarCode = @BarCode, Price = @Price WHERE ProductID = @ProductID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProductQuantityInStock]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateProductQuantityInStock]
   @ProductID INT,
   @Quantity INT

AS
BEGIN
     WITH OldestStock AS
	 (
	   SELECT TOP 1 * FROM Stock
       WHERE ProductID = @ProductID AND ExpDate > CAST(GETDATE() AS date)
       ORDER BY ExpDate ASC
	 )
     UPDATE OldestStock
	 SET QuantityAvailable -= @Quantity
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSupplier]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateSupplier]
      @SupplierID INT,
	 @Phone DECIMAL,
	 @Email NVARCHAR(50),
	 @RowsAffected INT OUTPUT


AS
BEGIN
     UPDATE Suppliers
	 SET Phone = @Phone , Email = @Email WHERE SupplierID = @SupplierID;

	 SET @RowsAffected = @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserPassword]    Script Date: 14/02/2026 2:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateUserPassword]
         @UserID INT,
		 @Password NVARCHAR(MAX)

AS
BEGIN
    UPDATE Users
	SET Password = @Password WHERE UserID = @UserID
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Products"
            Begin Extent = 
               Top = 9
               Left = 336
               Bottom = 206
               Right = 558
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Suppliers"
            Begin Extent = 
               Top = 9
               Left = 615
               Bottom = 206
               Right = 837
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Purchases"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 5
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Purchases_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Purchases_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SaleDetails"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Products"
            Begin Extent = 
               Top = 9
               Left = 336
               Bottom = 206
               Right = 558
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SaleDetails_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SaleDetails_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Products"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Stock"
            Begin Extent = 
               Top = 9
               Left = 336
               Bottom = 206
               Right = 579
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SearchProductsView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SearchProductsView'
GO
USE [master]
GO
